<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list [inset]="true">
    @if (loadError()) {
      <ion-item color="danger">
        <p>{{ loadError() }}</p>
      </ion-item>
    }

    @for (dish of loadedDishes(); track dish.guid) {
      <ion-item-sliding>
        <ion-item button (click)="openEditModal(dish, editModal)">
          <ion-label>{{ dish.name }}</ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="presentDeleteAlert(dish.guid!)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-create-dish-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-create-dish-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]" handleBehavior="cycle" [expandToScroll]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add a new dish</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="saveNewDish(modal)">Add</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-input label="Name of the dish" label-placement="floating" fill="solid" [(ngModel)]="newDish.name"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-textarea label="Description" label-placement="floating" fill="solid" [(ngModel)]="newDish.description"></ion-textarea>
            </ion-col>
            <ion-col size="12">
              <ion-input type="number" label="Servings" label-placement="floating" fill="solid" [(ngModel)]="newDish.servings"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-select label="Ingredients" label-placement="floating" fill="solid" multiple="true" [ngModel]="selectedIngredientGuids" (ngModelChange)="onSelectedIngredientsChange($event)">
                @for (ingredient of availableIngredients(); track ingredient.guid) {
                  <ion-select-option [value]="ingredient.guid">{{ ingredient.name }}</ion-select-option>
                }
              </ion-select>
            </ion-col>
            @for (ingredient of selectedIngredients(); track ingredient.guid) {
              <ion-col size="12">
                <ion-input type="number" min="0" step="any" label="{{ ingredient.name }} amount{{ ingredient.unit ? ' (' + ingredient.unit + ')' : '' }}" label-placement="floating" fill="solid" [(ngModel)]="selectedIngredientAmounts[ingredient.guid!]" />
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #editModal [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]" handleBehavior="cycle" [expandToScroll]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="editModal.dismiss()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Edit dish</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="saveEditedDish(editModal)">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-input label="Name of the dish" label-placement="floating" fill="solid" [(ngModel)]="editingDish.name"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-textarea label="Description" label-placement="floating" fill="solid" [(ngModel)]="editingDish.description"></ion-textarea>
            </ion-col>
            <ion-col size="12">
              <ion-input type="number" label="Servings" label-placement="floating" fill="solid" [(ngModel)]="editingDish.servings"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-select label="Ingredients" label-placement="floating" fill="solid" multiple="true" [ngModel]="selectedIngredientGuids" (ngModelChange)="onSelectedIngredientsChange($event)">
                @for (ingredient of availableIngredients(); track ingredient.guid) {
                  <ion-select-option [value]="ingredient.guid">{{ ingredient.name }}</ion-select-option>
                }
              </ion-select>
            </ion-col>
            @for (ingredient of selectedIngredients(); track ingredient.guid) {
              <ion-col size="12">
                <ion-input type="number" min="0" step="any" label="{{ ingredient.name }} amount{{ ingredient.unit ? ' (' + ingredient.unit + ')' : '' }}" label-placement="floating" fill="solid" [(ngModel)]="selectedIngredientAmounts[ingredient.guid!]" />
              </ion-col>
            }
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-alert [isOpen]="isDeleteAlertOpen()" (didDismiss)="isDeleteAlertOpen.set(false)" [buttons]="alertButtons" header="Delete dish?" message="This dish will be removed."></ion-alert>
</ion-content>
